<div class="myContainer">
    <h1 class="centeredTitle loginTitle">IPWebShop - prijava</h1>
    <div class="centeredForm loginForm">
        <form method="POST" action="" class="row g-3 myForm">
            <div class="col-12">
              <input type="text" class="form-control" name="username" id="username" required placeholder="Korisničko ime">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" name="password" id="password" required placeholder="Lozinka">
            </div>

            <p class="resultMessage"></p>
    
            <div class="d-grid gap-2 col-8 mx-auto">
                <button class="btn btn-warning btn-lg" type="submit" name="submit">Prijavite se</button>
                <a class="text-dark btn btn-link" routerLink="/registration" >Nemate nalog? Registrujte se...</a>
                <a class="text-dark btn btn-link" routerLink="/home">Početna stranica...</a>
            </div>
        </form>
    </div>

</div>