<div class="myContainer">
    <h1 class="centeredTitle">IPWebShop - aktivacija</h1>
    <div class="centeredForm">
        <form method="POST" action="" class="row g-3 myForm">
            <div class="col-12">
              <input type="text" class="form-control" name="username" id="username" required placeholder="Korisničko ime">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" name="pin" id="pin" required placeholder="PIN" pattern="[0-9]{4}">
            </div>

            <p class="resultMessage"></p>
    
            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-warning btn-lg" type="submit" name="submit">Aktivirajte nalog</button>
              <a class="text-dark btn btn-link" routerLink="/home">Početna stranica...</a>
            </div>
        </form>
    </div>

</div>
