.all-offers-container {
    display: flex;
    flex-direction: column;
}

.offers-container {
    padding-top: 25px;
    padding-bottom: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.my-card-wrapper {
    width: 270px;
    height: 350px;
    margin: 15px;
}

.my-card-image {
    max-height: 200px;
}

.my-paginator {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(34, 32, 32);;
}

.menu-header {
    width: 90%;
    margin: 0 auto;
}

.emptyData {
    font-weight: bold;
}