.offers-container {
  padding-top: 25px;
  padding-bottom: 100px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.my-card-wrapper {
  width: 270px;
  height: 450px;
  margin: 15px;
}

.my-card-image {
  max-height: 200px;
}

h1 {
  text-align: center;
}
